
//Semantic color variables names

$primary-color:#FF5722;
$secondary-color:#2196F3;
$tertiary-color:#fff;

$border-color:#ccc;

$primary-color-light: lighten($primary-color, 15%);
$secondary-color-light: lighten($secondary-color, 15%);


//Font-sizes

$xsmall-font-size:10px;
$small-font-size:12px;
$normal-font-size:14px;
$medium-font-size:16px;


//Text Colors

$primary-text-color:#333;
$secondary-text-color:#FFF;
$tertiary-text-color:#999;
$primary-link-color:#1976D2;
$secondary-link-color:#FFF;

//Spacing and gaps

$xsmall-padding:5px;
$small-padding:15px;
$medium-padding:25px;

$xsmall-margin:5px;
$small-margin:15px;
$medium-margin:30px;
$large-margin:50px;


//BreakPoints Responsive

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
