@import "../variables";


.button {
	border:0px;
	padding:$small-padding;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-size:$normal-font-size;
	&:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }
}

.button-primary {
	@extend .button;
	background-color: $primary-color;
	color: $secondary-text-color;
}

.button-secondary {
	@extend .button;
	background-color: $secondary-color;
	color: $secondary-text-color;
}

.button-tertiary {
	@extend .button;
	background-color: $tertiary-color;
	border:1px solid $secondary-color;
	color: $primary-text-color;
}